In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('1-data.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
# Save the encoders and scaler for later use
with open('3-label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('4-onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('5-scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
X_train.shape

(8000, 12)

In [14]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

C:\Users\Utkarsh Mishra\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [ ]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [18]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - loss: 100379.3516 - mae: 100379.3516 - val_loss: 98514.4688 - val_mae: 98514.4688
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 99586.0156 - mae: 99586.0156 - val_loss: 96900.0469 - val_mae: 96900.0469
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 96762.8672 - mae: 96762.8672 - val_loss: 92764.0781 - val_mae: 92764.0781
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 91228.9766 - mae: 91228.9766 - val_loss: 85915.4141 - val_mae: 85915.4141
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 83253.5859 - mae: 83253.5859 - val_loss: 77130.6172 - val_mae: 77130.6172
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 74056.6016 - mae: 74056.6016 - val_loss: 68255.1406 - val_mae: 68255.1406
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 65358.0586 - mae: 65358.0586 - val_loss: 60843.8789 - val_mae: 60843.8789
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 58664.6836 - mae: 58664.6836 - val_loss: 55594.7852 - val_mae: 55594.7852
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 54368.2383 - mae: 54368.2383 - val_loss: 52751.5078 - val_mae: 52751.5078
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 52036.0938 - mae: 52036.0938 - val_loss: 51547.7578 - val_mae: 51547.7578
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50968.7617 - mae: 50968.7617 - val_loss: 51077.0703 - val_mae: 51077.0703
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50521.3945 - mae: 50521.3945 - val_loss: 50859.2344 - val_mae: 50859.2344
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50318.9102 - mae: 50318.9102 - val_loss: 50767.4805 - val_mae: 50767.4805
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 50202.0859 - mae: 50202.0859 - val_loss: 50693.1523 - val_mae: 50693.1523
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50131.9375 - mae: 50131.9375 - val_loss: 50648.1875 - val_mae: 50648.1875
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50072.1484 - mae: 50072.1484 - val_loss: 50627.0117 - val_mae: 50627.0117
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50026.6680 - mae: 50026.6680 - val_loss: 50604.0508 - val_mae: 50604.0508
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49989.1172 - mae: 49989.1172 - val_loss: 50567.4688 - val_mae: 50567.4688
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - loss: 49954.8516 - mae: 49954.8516 - val_loss: 50550.8555 - val_mae: 50550.8555
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49924.6367 - mae: 49924.6367 - val_loss: 50526.0508 - val_mae: 50526.0508
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49894.6016 - mae: 49894.6016 - val_loss: 50507.4297 - val_mae: 50507.4297
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49872.6289 - mae: 49872.6289 - val_loss: 50500.5547 - val_mae: 50500.5547
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49847.8789 - mae: 49847.8789 - val_loss: 50472.2734 - val_mae: 50472.2734
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49825.0898 - mae: 49825.0898 - val_loss: 50456.4414 - val_mae: 50456.4414
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49806.0469 - mae: 49806.0469 - val_loss: 50448.3477 - val_mae: 50448.3477
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49785.0352 - mae: 49785.0352 - val_loss: 50430.5586 - val_mae: 50430.5586
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49765.6211 - mae: 49765.6211 - val_loss: 50425.0234 - val_mae: 50425.0234
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49750.1289 - mae: 49750.1289 - val_loss: 50416.6484 - val_mae: 50416.6484
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49732.0430 - mae: 49732.0430 - val_loss: 50402.7734 - val_mae: 50402.7734
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49718.5117 - mae: 49718.5117 - val_loss: 50403.8672 - val_mae: 50403.8672
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49702.8281 - mae: 49702.8281 - val_loss: 50392.1055 - val_mae: 50392.1055
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49691.6680 - mae: 49691.6680 - val_loss: 50382.9219 - val_mae: 50382.9219
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49676.7773 - mae: 49676.7773 - val_loss: 50378.5547 - val_mae: 50378.5547
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49666.3594 - mae: 49666.3594 - val_loss: 50387.4648 - val_mae: 50387.4648
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49655.8008 - mae: 49655.8008 - val_loss: 50383.3711 - val_mae: 50383.3711
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49644.9961 - mae: 49644.9961 - val_loss: 50369.5352 - val_mae: 50369.5352
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49632.8906 - mae: 49632.8906 - val_loss: 50372.2461 - val_mae: 50372.2461
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49622.8359 - mae: 49622.8359 - val_loss: 50362.0352 - val_mae: 50362.0352
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49613.2891 - mae: 49613.2891 - val_loss: 50353.0391 - val_mae: 50353.0391
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49602.4414 - mae: 49602.4414 - val_loss: 50349.7578 - val_mae: 50349.7578
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49591.9023 - mae: 49591.9023 - val_loss: 50351.3008 - val_mae: 50351.3008
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49583.3477 - mae: 49583.3477 - val_loss: 50341.0664 - val_mae: 50341.0664
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49573.7188 - mae: 49573.7188 - val_loss: 50337.6836 - val_mae: 50337.6836
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49565.5664 - mae: 49565.5664 - val_loss: 50339.2930 - val_mae: 50339.2930
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49558.1406 - mae: 49558.1406 - val_loss: 50338.0234 - val_mae: 50338.0234
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49553.3281 - mae: 49553.3281 - val_loss: 50338.0781 - val_mae: 50338.0781
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49544.8594 - mae: 49544.8594 - val_loss: 50339.7969 - val_mae: 50339.7969
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 49537.4023 - mae: 49537.4023 - val_loss: 50331.3320 - val_mae: 50331.3320
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49529.7070 - mae: 49529.7070 - val_loss: 50342.6445 - val_mae: 50342.6445
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49522.4102 - mae: 49522.4102 - val_loss: 50348.4883 - val_mae: 50348.4883
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49517.7891 - mae: 49517.7891 - val_loss: 50348.0781 - val_mae: 50348.0781
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49513.4062 - mae: 49513.4062 - val_loss: 50339.9688 - val_mae: 50339.9688
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49505.9883 - mae: 49505.9883 - val_loss: 50333.1992 - val_mae: 50333.1992
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49498.7344 - mae: 49498.7344 - val_loss: 50340.6562 - val_mae: 50340.6562
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49492.1719 - mae: 49492.1719 - val_loss: 50338.9531 - val_mae: 50338.9531
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49490.2188 - mae: 49490.2188 - val_loss: 50339.6641 - val_mae: 50339.6641
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49484.2031 - mae: 49484.2031 - val_loss: 50336.8750 - val_mae: 50336.8750
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49475.5508 - mae: 49475.5508 - val_loss: 50335.9844 - val_mae: 50335.9844

In [21]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [22]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 18480), started 0:00:16 ago. (Use '!kill 18480' to kill it.)

In [30]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 984us/step - loss: 50167.8594 - mae: 50167.8594
Test MAE : 50167.859375

In [31]:
model.save('regression_model.h5')

e:\UDemy Final\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(